.text-center{
    text-align: center;
}
.btn{
    padding: 4px 10px;
    color: white;
    background: bottom;    
    border: 2px solid white;
    border-radius: 7px;
    font-family: 'Roboto', sans-serif;

    cursor: pointer;
}

.text-align{
    text-align: center;
}
.my-1{
    margin: 5px 0;
}

.my-2{
    margin: 26px 0;
}
